<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sound Sculptor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="../static/css/bootstrap-metro.min.css" rel="stylesheet">

    <script>
      function changeTo (newHero) {
        var heros = ['main', 'intro', 'about'];
        for (var i in heros) {
          if (newHero === heros[i]) {
            $('#' + newHero).show('slow');
          }
          else {
           $('#' + heros[i]).hide('slow'); 
          }
        }
      }
    </script>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../static/ico/apple-touch-icon-57-precomposed.png">
               <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.png" />

    <script src="../static/js/jquery.min.js"></script>
  </head>

  <body style="background-image:url(http://placedog.com/1280/800);">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner" style="background-color:rgba(238, 238, 238, .5);">
        <div class="container">
          <!-- <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a> -->
          <a class="brand" href="#" onclick="changeTo('intro');$('#homenav').toggleClass('active');$('#aboutnav').removeClass('active');" style="color:black;">SoundSculptor</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li id="homenav" class="active"><a href="#" onclick="changeTo('intro');$('#homenav').addClass('active');$('#aboutnav').removeClass('active');" style="color:black;">Home</a></li>
              <li id="aboutnav"><a href="#about" onclick="changeTo('about');$('#aboutnav').addClass('active');$('#homenav').removeClass('active');" style="color:black;">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div class="container-fluid">
    
      <br/>
      <div class="row-fluid">
        <div class="hero-unit" style="background-color:rgba(238, 238, 238, .5);" id="intro">
            <center>
              <button class="btn btn-large btn-primary" style="width:60%;font-size:250%;height:120px;margin-left:auto;background-color:white;color:gray;" type="button" onclick="changeTo('main');">Start Sculpting!</button>
            <br/><br/>
            <hr style="background-color:rgba(238, 238, 238, .5);">
            <p>
              <a class="btn btn-primary btn-large" style="background-color:white;color:gray;" onClick="$('#video').toggle('slow');">
                Or view an example
              </a>
              <div id="video" style="display:none;">
                <br/>
                <button class="btn btn-large btn-primary" style="width:60%;font-size:250%;height:340px;margin-left:auto;background-color:white;color:gray;" type="button">VIDEO GOES HERE</button>
              </div>
            </p>
            </center>
        </div>

        <div class="hero-unit" style="background-color:rgba(238, 238, 238, .5);display:none;color:white;" id="about">
            <center>
              <h1 style="color:black;">About SoundSculptor</h1>
            <hr style="background-color:rgba(238, 238, 238, .5);">
            <p style="color:black;">
              Created using the Leap Motion, Web Audio, SoundCloud, and Dropbox APIs, SoundSculptor allows anyone to invent and record music on the spot just by using their hands. Upload your masterpiece to SoundCloud right after your sculpt it with simple hand motion.
            </p>
            <hr style="background-color:rgba(238, 238, 238, .5);">
            <p>
              <div class="row-fluid"/>
              
               <div class="span4"></div>

               <div class="span1">
                <a href="http://developers.soundcloud.com/"><img src="../static/img/soundcloud.png"></a>
               </div>
             
              <div class="span1">
               <a href="https://developers.facebook.com/"><img src="../static/img/facebook.png"></a>
              </div>

              <div class="span1">
               <a href="https://www.dropbox.com/developers"><img src="../static/img/dropbox.png"></a>
              </div>
              <div class="span1">
               <a href="https://devcenter.heroku.com/"><img src="../static/img/heroku.png"></a>
              </div>

              <div class="span4"></div>

            </center>
            </p>
        </div>


        <div class="hero-unit" style="background-color:rgba(238, 238, 238, .5);display:none;color:white;" id="main">
            <canvas id="interfaceCanvas" width="960" height="400" style="background: #333333;"></canvas>
        </div>
      </div>
    

    </div> <!-- /container -->

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/leap.js"></script>
    <script src="http://code.createjs.com/easeljs-0.5.0.min.js"></script>
    <script src="http://code.createjs.com/tweenjs-0.3.0.min.js"></script>
    <script src="../static/js/motionvisualizer.js"></script>
  </body>
</html>
